<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Cadastro - FitMind AI</title>

<link rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="auth-container">

<h1>Criar Conta 🚀</h1>

<p class="subtitulo">
Crie sua conta fitness
</p>

<form action="/cadastro" method="POST">

<input
type="text"
name="usuario"
placeholder="Usuário"
required
>

<input
type="password"
name="senha"
placeholder="Senha"
required
>

<button type="submit">
Cadastrar
</button>

</form>

<a href="/" class="link-auth">
Voltar login
</a>

</div>

</body>
</html>
