<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Login - FitMind AI</title>

<link rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="auth-container">

<h1>FitMind AI 🔥</h1>

<p class="subtitulo">
Entre na sua conta
</p>

<form action="/" method="POST">

<input
type="text"
name="usuario"
placeholder="Usuário"
required
>

<input
type="password"
name="senha"
placeholder="Senha"
required
>

<button type="submit">
Entrar
</button>

</form>

<a href="/cadastro" class="link-auth">
Criar conta
</a>

</div>

</body>
</html>
